.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  background-color: #1488db; /* Change background to blue */
  color: #ffffff; /* Change text color to white on hover */
}

.icon {
  background-color: #f1f6f6;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  color: #1488db; /* Default icon color */
}

.text {
  text-align: center;
}

.title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #333; /* Default text color */
  margin-bottom: 8px;
}

.number {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #1488db; /* Default number color */
  margin-bottom: 8px;
}

.detail {
  font-size: 14px;
  color: #666; /* Default detail color */
}

.container:hover .title {
  color: #ffffff; /* Change title text color to white on hover */
}

.container:hover .number {
  color: #ffffff; /* Change number text color to white on hover */
}

.container:hover .detail {
  color: #e5e5e5; /* Slightly lighter white for detail text */
}
