.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Đảm bảo ảnh nền không kéo dài ngoài khung */
    position: relative; /* Cần thiết để `backgroundImageStyle` nằm bên trong*/
    background-color: #F4FCFF;
}
.logo {
  width: 45px;
  height: 25px;
  margin-right: 20px; 
}
.item {
  display: flex; /* Make the item a flex container */
  align-items: center; /* Align items vertically */
  color: black;
    gap: 10px; /* Khoảng cách giữa các phần tử */
}

.item:hover {
  text-decoration: underline; /* Thêm gạch chân khi hover */
  text-decoration-color: #1488DB; /* Màu xanh cho gạch chân */
  text-decoration-thickness: 2px; /* Độ dày của gạch chân */
  text-underline-offset: 5px; /* Khoảng cách từ chữ xuống gạch chân */
}

.rectangle {
    width: 80%;
    height: 450px;
    border-radius: 20px;
    z-index: 1;
    top: 90px; /* Align to the top edge*/
    position: absolute; /* Ensure it sticks to the top*/
    font-family: 'Roboto, sans-serif';
    font-weight: bold;
    display: flex; /* Add this line to align children next to each other*/
  }

.button {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #1488DB;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap; /* Prevent text from wrapping*/
    text-align: center; /* Align text to the left*/
    text-indent: 0; /* Add an indent to the text*/
}

.leftHalf {
    width: 60%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: flex-start; /* Align items to the top */
    font-weight: bold;
    color: #1488DB;
    font-family: 'Roboto, sans-serif';
  }
  .leftHalf .titleContainer {
    display: flex; /* Sử dụng flexbox để các phần tử nằm trên cùng một hàng */
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 10px; /* Khoảng cách giữa các phần tử */
    margin-bottom: 20px; /* Thêm khoảng cách dưới */
  }

.leftHalf .titleh2 {
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold;
    color: #1488DB;
  }
.leftHalf .titleh2:hover {
    background-color: white; /* Thay đổi màu khi hover */
}
.leftHalf .titleh1 {
  margin-top: 30px;
    font-size: 30px; /* Adjust font size as needed */
    font-weight: bold;
    color: black;
  }
.leftHalf .button {
    margin-top: 20px;
    margin-left: 20px;
    width: 70px;
    height: 30px;
    background-color: #F4FCFF;
    border-radius: 10px;
    border-color: #1488DB;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
  }
.leftHalf .orderTitle {
  margin-top: 30px;
  font-size: 40px; /* Adjust font size as needed */
  font-weight: bold;
  color: black;
}
.leftHalf .orderContainer {
  display: flex; 
  align-items: center; 
  gap: 90px; 
  margin-left: 250px;
  margin-top: 20px;
  font-size: 20px;
  color: gray;
}
.leftHalf .totalContainer {
  display: flex; 
  align-items: center; 
  gap: 90px; 
  margin-left: 250px;
  margin-top: 20px;
  font-size: 20px;
  color: black;
}
.rightHalf {
    width: 40%;
    height: 100%;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: left;  /*Align items to the top*/
    align-items: left; /* Align items to the center */
    font-weight: bold;
    font-family: Inter;
  }
.rightHalf .button {
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background-color: #1488DB;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
  }
.rightHalf .button:hover {
    background-color: #0F5C8E;
  }
.rightHalf .button:active {
    background-color: #0F5C8E;
  }
.rightHalf .button:disabled {
    background-color: #0F5C8E;
  }
.rightHalf .button:disabled:hover {
    background-color: #0F5C8E;
  }
.rightHalf .button:disabled:active {
    background-color: #0F5C8E;
  }
.rightHalf .button:disabled {
    background-color: #0F5C8E;
  }
  .rightHalf .paymentTitle {
    margin-top: 20px;
    font-size: 32px; /* Adjust font size as needed */
    font-weight: bold;
    color: black;
    margin-left: 35px;
  }
  .rightHalf .subpaymentTitle {
    margin-top: 20px;
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold;
    color: black;
    margin-left: 35px;
  }
.rightHalf .smallshowpttt {
    margin-left: 40px;
    margin-top: 35px;
    width: 140px;
    height: 60px;
    background-color: white;
    position: relative;
    box-shadow: 1px 1px 4px gray; /* Đổ bóng ở cạnh dưới và phải    */            
    border-radius: 5px;
    cursor: pointer;
    color: black;
    text-indent: 30px;
    text-align: center;
}
.rightHalf.title {
    font-size: 10px; /* Adjust font size as needed */
    font-weight: bold;
    color: black;
    font-family: 'Roboto, sans-serif';
    font-weight: bold;
    margin-left: 20px;
}
.backbutton {
    margin-top: 20px;
    margin-left: 20px;
    font-size: small;
    background-color: #1488DB;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
  }
  .backbutton:hover {
    background-color: #0F5C8E;
  }
  .backbutton:active {
    background-color: #0F5C8E;
  }
  .backbutton:disabled {
    background-color: #0F5C8E;
  }
  .backbutton:disabled:hover {
    background-color: #0F5C8E;
  }
  .backbutton:disabled:active {
    background-color: #0F5C8E;
  }
  .backbutton:disabled {
    background-color: #0F5C8E;
}