.container {
  margin: 20px auto;
  max-width: 1200px; /* Increase max-width for a wider table */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
  background-color: #1488db;
  color: #ffffff;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #1488db;
  color: white;
}

.loading,
.error {
  text-align: center;
  font-size: 18px;
  margin: 20px;
}

.doubleSided {
  color: #2ca02c; /* Green for double-sided */
}

.singleSided {
  color: #d62728; /* Red for single-sided */
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.searchBar {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  font-size: 14px;
}

.filterDropdown {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}
