.container {
    font-family: var(--font-family), sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    transition: 0.3s ease;
    width: 100%;
}

.active,
.container:hover {
    background-color: var(--button-primary-color);
}

.active:hover {
    background-color: var(--button-hover-color);
}

